@font-face {
    font-family: calculator;
    src: url(fonts/digital-7/digital-7.ttf)
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(129, 129, 129);
    font-size: 50px;
}

.container {
    /* width: 30vw; */

    border-style: solid;
    padding: 25px;
    background: rgb(47, 47, 47);
    border-style: solid;
    border-color: #969999;
    border-width: 1px;
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
    
    background-color: rgb(232, 233, 223);
    border: 4px inset rgb(226, 225, 225);
    
    padding: 10px;
    font-family: calculator;
    font-size: 80px;
    color: rgb(32, 36, 32);
}

.buttons {
    width: 400px;
    height: 500px;
    display: flex;
    /* aspect-ratio: 1 / 1; */
}

.left .controls {
    display: flex;
    justify-content: center;
}

.left .numpad {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;

}

.controls button {
    flex: 1;
    /* border-radius: 15px; */
    aspect-ratio: unset;
}

.right .operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    
    border-color: rgb(225, 220, 220);

    font-size: .8em;
    font-weight: 500;
    color: white;
}

.numpad button {
    background-color: rgb(171, 171, 171);
}

.controls button {
    background-color: rgb(136, 136, 136);
}

.operators button {
    background-color: orange;
}

#equals {
    /* color: black; */
    background-color: rgb(85, 85, 85);
}
